<div class="container outer-cart">
  <div class="col-md-2"></div>
    <div class="col-md-8 cart-container">
      <h1>Donation Information</h1>

      <div class="container spacer"></div>
      <%= form_for @give do |f| %>
        <div class="field-spacer">
          <%= f.label :title %>
        </div>
        <%= f.text_field :title %><br>

        <div class="field-spacer">
          <%= f.label :description %>
        </div>
        <%= f.text_field :description %><br>

        <div class="field-spacer">
          <%= f.label :price %>
        </div>
        <%= f.text_field :price %><br>

        <div class="field-spacer">
          <%= f.label :quantity %>
        </div>
        <%= f.text_field :quantity %><br>

        <div class="field-spacer">
          <%= f.label :picture %>
        </div>
        <%= f.file_field :picture%><br>

        <%= f.submit "Submit Donation", {class: "btn-right"} %>
      <% end %>
    </div>
  </div>
</div>
