<div class="row carousel-holder">
  <div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active home-image">
          <img class="slide-image" src="http://media.al.com/huntsville-times/photo/-ed3021c6885b4531.JPG" alt="">
        </div>
        <div class="item home-image">
          <img class="slide-image" src="http://envirofurnitureltd.com/wp-content/uploads/2014/06/81.jpg" alt="">
        </div>
        <div class="item home-image">
          <img class="slide-image" src="http://www.insidecdcr.ca.gov/wp-content/uploads/2014/03/CMF-playground.jpg" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>

<!-- begin item listing -->
<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-4 col-lg-4 col-md-4" id='<%= item.title %>'>
      <div class="thumbnail">
        <img src="<%= item.image %>", class="img-responsive", id="item-view-preview"alt="", width="200, height= "200">
        <%#= image_tag item.picture.url(:large), class: "img-responsive", id: "item-view-preview"%>
        <div class="caption">
          <h4 class="pull-right">
            <%= dollar_string(item.price) %>
          </h4>
          <h4>
            <%= link_to item.title, item_path(item.slug) %>
          </h4>
          <p class="item-description">
            <%= item.description %>
          </p>
          <%= form_for(:cart, url: carts_path) do |f| %>
            <%= f.hidden_field :item, value: item.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary index-cart-btn" %>
            <%= f.label :quantity, "Qty: ", class: "qty" %>
            <%= f.text_field :quantity, maxlength: 3, size: 3, value: "1" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<!-- end item listing -->

</div>
