<div class="container">
  <h1>Categories</h1>
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Options</th>
      <th>Items</th>
    </tr>
    <% @categories.each do |c| %>
    <tr class="table-hover">
      <td>
        <%= link_to c.title, category_path(c.slug), class: "lead-column" %>
      </td>
      <td>
        <%= link_to edit_admin_category_path(c),
            class: "btn btn-success",id: "admin-item-btn" do %>
          Edit
        <% end %>
        <%= link_to admin_category_path(c),
            method: :delete, class: "btn btn-danger" do %>
          Delete
        <% end %>
      </td>
      <td>
        <% c.items.each do |item| %>
          <%= link_to item.title, item_path(item.slug) %> |
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Create New Category", new_admin_category_path,
      class: "btn btn-primary btn-large" %>
</div>
